.columns {
  display: flex;

  @media ($mobile) {
    flex-direction: column;
  }

  &.is-vcentered {
    align-items: center;
  }

  &.is-column {
    flex-direction: column;

    &.is-vcentered {
      justify-content: center;
    }
  }


  .column {
    width: 50%;

    @media ($mobile) {
      width: 100%;
    }
  }
}
