@mixin font-face($fontWeight, $fontSize) {
  font-family: $font-family, sans-serif;
  font-weight: $fontWeight;
  font-style: normal;
  font-size: $fontSize;
}

.h0 {
  @include font-face($font-bold, $font-size-h0);
  @include fluid-type($min_width, $max_width, $font-size-h4, $font-size-h1);
}

h1 {
  @include font-face($font-bold, $font-size-h1);
}

h2 {
  @include font-face($font-bold, $font-size-h3);
  @include fluid-type($min_width, $max_width, $font-size-h4, $font-size-h3);
}

h3 {
  @include font-face($font-thin, $font-size-h3);
  @include fluid-type($min_width, $max_width, $font-size-base, $font-size-h3);
}


p {
  @include font-face($font-regular, $font-size-base);

  &.is-light {
    font-weight: $font-thin;
  }
}

a {
  @include font-face($font-regular, $font-size-h4);
  @include fluid-type($min_width, $max_width, $font-size-base, $font-size-h4);
  text-decoration: underline;
}


.is-purple-text {
  color: $purple-light;
}

.is-white-text {
  color: $white;
}
