@mixin font-face($fontWeight, $fontSize) {
  font-family: $font-family, sans-serif;
  font-weight: $fontWeight;
  font-style: normal;
  font-size: $fontSize;
}


h1 {
  @include font-face($font-bold, $font-size-h1);
}

h2 {
  @include font-face($font-regular, $font-size-h2);
}

h3 {
  @include font-face($font-medium, $font-size-h3);
}


p {
  @include font-face($font-regular, $font-size-base);

  &.is-medium {
    font-weight: $font-medium;
  }

  &.is-light {
    font-weight: $font-thin;
  }

  &.is-caption {
    font-size: $font-size-small;
  }
}

a {
  @include font-face($font-regular, $font-size-h3);
  text-decoration: none;
  color: $black;

  &.is-caption {
    font-size: $font-size-small;
  }
}


.is-purple-text {
  color: $purple-light;
}

.is-white-text {
  color: $white;
}

.is-secondary {
  color: $gray;
}

.is-underlined {
  text-decoration: underline;
}
